OPCUA_Server&Client/OPCUA_ServerClient.json
[{"id":"691bae06.4a165","type":"tab","label":"ED-10","disabled":false,"info":"\n"},{"id":"bede323a.20fb6","type":"mqtt in","z":"691bae06.4a165","name":"","topic":"esp32/randTH","qos":"1","datatype":"auto","broker":"f6a30bb4.c6b738","nl":false,"rap":false,"x":150,"y":240,"wires":[["db1c09f3.1bfb38","211c5166.9003ae"]]},{"id":"307aa8fc.240c58","type":"switch","z":"691bae06.4a165","name":"","property":"parts.key","propertyType":"msg","rules":[{"t":"eq","v":"Temp","vt":"str"},{"t":"eq","v":"Humi","vt":"str"},{"t":"eq","v":"curr","vt":"str"},{"t":"eq","v":"vibe","vt":"str"},{"t":"eq","v":"phot","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":710,"y":240,"wires":[["f09bd07.95e553"],["4f5ec153.9bac6"],["1cf12348.5dee6d"],["c4f4a7.d5b9cb58"],["9334691e.702d58"]]},{"id":"d6eb5c68.46314","type":"function","z":"691bae06.4a165","name":"set flow context Inputs","func":"flow.set('isoInput1', msg.payload)\n\nmsg.payload = [\n    flow.get('isoInput1')\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":200,"wires":[["6372e0d2.5dbaa"]]},{"id":"f9101a3f.0a2b88","type":"debug","z":"691bae06.4a165","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1590,"y":240,"wires":[]},{"id":"330ba486.b03e4c","type":"function","z":"691bae06.4a165","name":"Log","func":"var today = new Date();\n\nvar year = today.getFullYear();\nvar month = today.getMonth() + 1\nvar day = today.getDate()\nvar hours = today.getHours()\nvar minutes = today.getMinutes()\nvar seconds = today.getSeconds()\nvar milliseconds = today.getMilliseconds()\n\nvar now = year + '-' + month  + '-' + day + ' ' + hours + ':' + minutes  + ':' + seconds + '.' + milliseconds;\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\nglobal.set(\"tempValue\", msg.payload);\n\nmsg.payload = {\n    \"count\" : count,\n    \"Temp\" : msg.payload,\n    \"timestamp\" : now.toLocaleString()\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":240,"wires":[["f9101a3f.0a2b88"]]},{"id":"e69fdab8.3607e8","type":"function","z":"691bae06.4a165","name":"Log","func":"var today = new Date();\n\nvar year = today.getFullYear();\nvar month = today.getMonth() + 1\nvar day = today.getDate()\nvar hours = today.getHours()\nvar minutes = today.getMinutes()\nvar seconds = today.getSeconds()\nvar milliseconds = today.getMilliseconds()\n\nvar now = year + '-' + month  + '-' + day + ' ' + hours + ':' + minutes  + ':' + seconds + '.' + milliseconds;\n\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\n\nmsg.payload = {\n    \"count\" : count,\n    \"Humi\" : msg.payload,\n    \"timestamp\" : now.toLocaleString()\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":400,"wires":[["83abdb57.4b41d8"]]},{"id":"83abdb57.4b41d8","type":"debug","z":"691bae06.4a165","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1590,"y":400,"wires":[]},{"id":"6021b80a.caf4f8","type":"function","z":"691bae06.4a165","name":"Log","func":"var today = new Date();\n\nvar year = today.getFullYear();\nvar month = today.getMonth() + 1\nvar day = today.getDate()\nvar hours = today.getHours()\nvar minutes = today.getMinutes()\nvar seconds = today.getSeconds()\nvar milliseconds = today.getMilliseconds()\n\nvar now = year + '-' + month  + '-' + day + ' ' + hours + ':' + minutes  + ':' + seconds + '.' + milliseconds;\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\n\nmsg.payload = {\n    \"count\" : count,\n    \"curr\" : msg.payload,\n    \"timestamp\" : now.toLocaleString()\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":560,"wires":[["dc30787f.98a578"]]},{"id":"dc30787f.98a578","type":"debug","z":"691bae06.4a165","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1590,"y":560,"wires":[]},{"id":"9d7aa243.38fd7","type":"function","z":"691bae06.4a165","name":"Log","func":"var today = new Date();\n\nvar year = today.getFullYear();\nvar month = today.getMonth() + 1\nvar day = today.getDate()\nvar hours = today.getHours()\nvar minutes = today.getMinutes()\nvar seconds = today.getSeconds()\nvar milliseconds = today.getMilliseconds()\n\nvar now = year + '-' + month  + '-' + day + ' ' + hours + ':' + minutes  + ':' + seconds + '.' + milliseconds;\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\n\nmsg.payload = {\n    \"count\" : count,\n    \"vibe\" : msg.payload,\n    \"timestamp\" : now.toLocaleString()\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":720,"wires":[["b1e117e1.a5f998"]]},{"id":"b1e117e1.a5f998","type":"debug","z":"691bae06.4a165","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1590,"y":720,"wires":[]},{"id":"5dd420e3.41322","type":"function","z":"691bae06.4a165","name":"Log","func":"var today = new Date();\n\nvar year = today.getFullYear();\nvar month = today.getMonth() + 1\nvar day = today.getDate()\nvar hours = today.getHours()\nvar minutes = today.getMinutes()\nvar seconds = today.getSeconds()\nvar milliseconds = today.getMilliseconds()\n\nvar now = year + '-' + month  + '-' + day + ' ' + hours + ':' + minutes  + ':' + seconds + '.' + milliseconds;\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\n\nglobal.set(\"photValue\", msg.payload);\n\nmsg.payload = {\n    \"count\" : count,\n    \"phot\" : msg.payload,\n    \"timestamp\" : now.toLocaleString()\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1290,"y":880,"wires":[["9988a8eb.e24b18"]]},{"id":"9988a8eb.e24b18","type":"debug","z":"691bae06.4a165","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1590,"y":880,"wires":[]},{"id":"42ed9ba3.532614","type":"function","z":"691bae06.4a165","name":"set flow context Inputs","func":"flow.set('isoInput2', msg.payload)\n\nmsg.payload = [\n    flow.get('isoInput2')\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":360,"wires":[["231bf25b.f4463e"]]},{"id":"54eecb44.9c3e64","type":"function","z":"691bae06.4a165","name":"set flow context Inputs","func":"flow.set('isoInput3', msg.payload)\n\nmsg.payload = [\n    flow.get('isoInput3')\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":520,"wires":[["d7d9a19b.17222"]]},{"id":"f81ccbd1.82b418","type":"function","z":"691bae06.4a165","name":"set flow context Inputs","func":"flow.set('isoInput4', msg.payload)\n\nmsg.payload = [\n    flow.get('isoInput4')\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":680,"wires":[["eab726e3.292768"]]},{"id":"60f327b9.e0b288","type":"function","z":"691bae06.4a165","name":"set flow context Inputs","func":"flow.set('isoInput5', msg.payload)\n\nmsg.payload = [\n    flow.get('isoInput5')\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1340,"y":840,"wires":[["7e445286.d7528c"]]},{"id":"a255c3bc.fc294","type":"file","z":"691bae06.4a165","name":"OPCUA_Client Data","filename":"/home/pi/Solubiz/ED-10/OPCUA_Client.xls","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"utf8","x":620,"y":840,"wires":[[]]},{"id":"6372e0d2.5dbaa","type":"link out","z":"691bae06.4a165","name":"OPC_Temp","links":["15590494.232cbb"],"x":1535,"y":200,"wires":[]},{"id":"231bf25b.f4463e","type":"link out","z":"691bae06.4a165","name":"OPC_Humi","links":["83db5f6f.d4bf1"],"x":1535,"y":360,"wires":[]},{"id":"d7d9a19b.17222","type":"link out","z":"691bae06.4a165","name":"OPC_Photo","links":["72c753c9.17bf4c"],"x":1535,"y":520,"wires":[]},{"id":"eab726e3.292768","type":"link out","z":"691bae06.4a165","name":"OPC_Current","links":["4a3d1d76.f89564"],"x":1535,"y":680,"wires":[]},{"id":"7e445286.d7528c","type":"link out","z":"691bae06.4a165","name":"OPC_Vibration","links":["a1e1af32.961a1"],"x":1535,"y":840,"wires":[]},{"id":"5c2c4eb1.1da49","type":"split","z":"691bae06.4a165","name":"","splt":",","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":530,"y":240,"wires":[["307aa8fc.240c58"]]},{"id":"211c5166.9003ae","type":"json","z":"691bae06.4a165","name":"","property":"payload","action":"","pretty":true,"x":350,"y":240,"wires":[["5c2c4eb1.1da49","10ca41dd.6468ae"]]},{"id":"ac349ecb.b66c3","type":"csv","z":"691bae06.4a165","name":"","sep":"\\t","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"INDEX, count, Temp, Humi, curr, vibe, phot, timestamp","skip":"0","strings":false,"include_empty_strings":"","include_null_values":"","x":410,"y":500,"wires":[["74c6e8a1.b9a948","66aac962.182598"]]},{"id":"df71426e.ebf18","type":"ui_gauge","z":"691bae06.4a165","name":"","group":"5805281a.aa6318","order":1,"width":6,"height":4,"gtype":"gage","title":"온도","label":"℃","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1290,"y":280,"wires":[]},{"id":"45bd2240.87b58c","type":"ui_gauge","z":"691bae06.4a165","name":"","group":"5805281a.aa6318","order":4,"width":6,"height":4,"gtype":"gage","title":"습도","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1290,"y":440,"wires":[]},{"id":"f4f9534a.3225c","type":"ui_gauge","z":"691bae06.4a165","name":"","group":"5805281a.aa6318","order":7,"width":6,"height":4,"gtype":"gage","title":"전류","label":"mA","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1290,"y":600,"wires":[]},{"id":"41bbcfe2.be104","type":"ui_gauge","z":"691bae06.4a165","name":"","group":"5805281a.aa6318","order":10,"width":6,"height":4,"gtype":"gage","title":"진동","label":"mA","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1290,"y":760,"wires":[]},{"id":"dfc290d5.20eb","type":"ui_gauge","z":"691bae06.4a165","name":"","group":"5805281a.aa6318","order":13,"width":6,"height":4,"gtype":"gage","title":"포토","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1290,"y":920,"wires":[]},{"id":"66aac962.182598","type":"file","z":"691bae06.4a165","name":"ED-10 Data","filename":"/home/pi/Solubiz/ED-10/ED-10.xls","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":590,"y":560,"wires":[[]]},{"id":"74c6e8a1.b9a948","type":"debug","z":"691bae06.4a165","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":590,"y":500,"wires":[]},{"id":"f3e18126.b2c76","type":"function","z":"691bae06.4a165","name":"ED-10","func":"var today = new Date();\n\nvar year = today.getFullYear();\nvar month = today.getMonth() + 1\nvar day = today.getDate()\nvar hours = today.getHours()\nvar minutes = today.getMinutes()\nvar seconds = today.getSeconds()\nvar milliseconds = today.getMilliseconds()\n\nvar now = year + '-' + month  + '-' + day + ' ' + hours + ':' + minutes  + ':' + seconds + '.' + milliseconds;\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n\n// make it part of the outgoing msg object\nmsg.count = count;\n\nmsg.payload = {\n    \"INDEX\" : \"ED-10\",\n    \"count\" : count,\n    \"Temp\"  : msg.payload[\"Temp\"],\n    \"Humi\"  : msg.payload[\"Humi\"],\n    \"curr\"  : msg.payload[\"curr\"],\n    \"vibe\"  : msg.payload[\"vibe\"],\n    \"phot\"  : msg.payload[\"phot\"],\n    \"timestamp\" : now\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":500,"wires":[["ac349ecb.b66c3"]]},{"id":"a92d0099.663f9","type":"join","z":"691bae06.4a165","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":250,"y":700,"wires":[["4bac9396.f1839c"]]},{"id":"4bac9396.f1839c","type":"function","z":"691bae06.4a165","name":"","func":"var today = new Date();\n\nvar year = today.getFullYear();\nvar month = today.getMonth() + 1\nvar day = today.getDate()\nvar hours = today.getHours()\nvar minutes = today.getMinutes()\nvar seconds = today.getSeconds()\nvar milliseconds = today.getMilliseconds()\n\nvar now = year + '-' + month  + '-' + day + ' ' + hours + ':' + minutes  + ':' + seconds + '.' + milliseconds;\n\n// initialise the counter to 0 if it doesn't exist already\nvar count = context.get('count')||0;\ncount += 1;\n// store the value back\ncontext.set('count',count);\n// make it part of the outgoing msg object\nmsg.count = count;\nmsg.payload = {\n    \"INDEX\" : \"OPCUA-Client\",\n    \"count\" : count,\n    \"Temp\"  : msg.payload[\"Temp\"],\n    \"Humi\"  : msg.payload[\"Humi\"],\n    \"curr\"  : msg.payload[\"curr\"],\n    \"vibe\"  : msg.payload[\"vibe\"],\n    \"phot\"  : msg.payload[\"phot\"],\n    \"timestamp\" : now\n}\nglobal.set(\"Eventcount\", count);\nglobal.set(\"timestampValue\", now);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":780,"wires":[["cfc9adcc.b3c6"]]},{"id":"cfc9adcc.b3c6","type":"csv","z":"691bae06.4a165","name":"","sep":"\\t","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"INDEX, count, Temp, Humi, curr, vibe, phot, timestamp","skip":"0","strings":false,"include_empty_strings":"","include_null_values":"","x":410,"y":780,"wires":[["d9b49913.610188","a255c3bc.fc294"]]},{"id":"d9b49913.610188","type":"debug","z":"691bae06.4a165","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":590,"y":780,"wires":[]},{"id":"98343e1b.03cb7","type":"ui_chart","z":"691bae06.4a165","name":"","group":"5805281a.aa6318","order":5,"width":6,"height":4,"label":"습도 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1300,"y":480,"wires":[[]]},{"id":"91fe3529.0e29b8","type":"ui_chart","z":"691bae06.4a165","name":"","group":"5805281a.aa6318","order":8,"width":6,"height":4,"label":"전류 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1300,"y":640,"wires":[[]]},{"id":"db7559a5.a33748","type":"ui_chart","z":"691bae06.4a165","name":"","group":"5805281a.aa6318","order":11,"width":6,"height":4,"label":"진동 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1300,"y":800,"wires":[[]]},{"id":"cee8a4be.b05ed8","type":"ui_chart","z":"691bae06.4a165","name":"","group":"5805281a.aa6318","order":2,"width":6,"height":4,"label":"온도 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1300,"y":320,"wires":[[]]},{"id":"45fd4775.524978","type":"function","z":"691bae06.4a165","name":"Event","func":"var today = new Date();\n\nvar year = today.getFullYear();\nvar month = today.getMonth() + 1\nvar day = today.getDate()\nvar hours = today.getHours()\nvar minutes = today.getMinutes()\nvar seconds = today.getSeconds()\nvar milliseconds = today.getMilliseconds()\n\nvar now = year + '-' + month  + '-' + day + ' ' + hours + ':' + minutes  + ':' + seconds + '.' + milliseconds;\n\nvar count = context.get('count')||0;\nvar tempValue = global.get(\"tempValue\");\nvar tempEvent = global.get(\"tempEvent\");\nvar photValue = global.get(\"photValue\");\nvar photEvent = global.get(\"photEvent\");\nvar Eventcount = global.get(\"Eventcount\");\nvar timestampValue= global.get(\"timestampValue\");\n\nif ((tempValue >= tempEvent) && ( photValue == photEvent)) {\n        count += 1;\n        context.set('count',count);\n        msg.count = count;\n\n        msg.payload = {\n            \"INDEX\" : \"OPCUA-Event\",\n            \"count\" :  count,\n            \"Eventcount\" :  Eventcount,\n            \"Input1\" : tempValue,\n            \"Input5\" : photEvent,\n            \"timestamp\" : timestampValue\n        }\n        return msg;\n    }    \n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":600,"wires":[["60d67d79.2acbe4"]]},{"id":"20e33530.18e70a","type":"ui_form","z":"691bae06.4a165","name":"OPC-UA Event Setting","label":"","group":"a1c53b6.a88fcc8","order":1,"width":6,"height":1,"options":[{"label":"Temp","value":"Temp","type":"text","required":true,"rows":null},{"label":"Phot","value":"Phot","type":"text","required":true,"rows":null}],"formValue":{"Temp":"","Phot":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":380,"y":940,"wires":[["6c8175a4.402dac"]]},{"id":"75bc64dd.35e2ec","type":"ui_text","z":"691bae06.4a165","group":"a1c53b6.a88fcc8","order":2,"width":6,"height":1,"name":"","label":"Setting Value","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":940,"wires":[]},{"id":"6c8175a4.402dac","type":"function","z":"691bae06.4a165","name":"","func":"global.set(\"tempEvent\", msg.payload[\"Temp\"]);\nglobal.set(\"photEvent\", msg.payload[\"Phot\"]);\n\n\nmsg.payload = {\n    \"Temp\" : msg.payload[\"Temp\"],\n    \"Phot\" : msg.payload[\"Phot\"]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":940,"wires":[["75bc64dd.35e2ec"]]},{"id":"60d67d79.2acbe4","type":"csv","z":"691bae06.4a165","name":"","sep":"\\t","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"INDEX, count, Eventcount, Input1, Input5, timestamp","skip":"0","strings":false,"include_empty_strings":"","include_null_values":"","x":410,"y":600,"wires":[["26685bde.34b344","1bcaaebb.cd8be1"]]},{"id":"26685bde.34b344","type":"debug","z":"691bae06.4a165","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":590,"y":600,"wires":[]},{"id":"1bcaaebb.cd8be1","type":"file","z":"691bae06.4a165","name":"OPCUA_Event Data","filename":"/home/pi/Solubiz/ED-10/OPCUA_Event.xls","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":620,"y":660,"wires":[[]]},{"id":"54714b53.0c85b4","type":"ui_chart","z":"691bae06.4a165","name":"","group":"5805281a.aa6318","order":14,"width":6,"height":4,"label":"포토 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1300,"y":960,"wires":[[]]},{"id":"212fbca4.39c8b4","type":"function","z":"691bae06.4a165","name":"Log","func":"var today = new Date();\n\nvar year = today.getFullYear();\nvar month = today.getMonth() + 1\nvar day = today.getDate()\nvar hours = today.getHours()\nvar minutes = today.getMinutes()\nvar seconds = today.getSeconds()\nvar milliseconds = today.getMilliseconds()\n\nvar now = year + '-' + month  + '-' + day + ' ' + hours + ':' + minutes  + ':' + seconds + '.' + milliseconds;\n\nvar count = context.get('count')||0;\n\n\nif (msg.topic == \"ns=1;s=Isolated_Input1\"){\n    count += 1;\n    context.set('count',count);\n    msg.count = count;\n    \n   \n    msg.payload = {\n        \"count\" : count,\n        \"Input1\" : msg.payload,\n        \"timestamp\" : now.toLocaleString()\n    }    \n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":1080,"wires":[["4adc7a69.2b7ba4"]]},{"id":"f10ab01b.3fb","type":"function","z":"691bae06.4a165","name":"Log","func":"var today = new Date();\n\nvar year = today.getFullYear();\nvar month = today.getMonth() + 1\nvar day = today.getDate()\nvar hours = today.getHours()\nvar minutes = today.getMinutes()\nvar seconds = today.getSeconds()\nvar milliseconds = today.getMilliseconds()\n\nvar now = year + '-' + month  + '-' + day + ' ' + hours + ':' + minutes  + ':' + seconds + '.' + milliseconds;\n\nvar count = context.get('count')||0;\n\n\nif (msg.topic == \"ns=1;s=Isolated_Input2\"){\n    count += 1;\n    context.set('count',count);\n    msg.count = count;\n    \n    msg.payload = {\n        \"count\" : count,\n        \"Input2\" : msg.payload,\n        \"timestamp\" : now.toLocaleString()\n    }    \n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":1220,"wires":[["cc0c9566.24cec8"]]},{"id":"3de893d9.e16ddc","type":"function","z":"691bae06.4a165","name":"Log","func":"var today = new Date();\n\nvar year = today.getFullYear();\nvar month = today.getMonth() + 1\nvar day = today.getDate()\nvar hours = today.getHours()\nvar minutes = today.getMinutes()\nvar seconds = today.getSeconds()\nvar milliseconds = today.getMilliseconds()\n\nvar now = year + '-' + month  + '-' + day + ' ' + hours + ':' + minutes  + ':' + seconds + '.' + milliseconds;\n\nvar count = context.get('count')||0;\n\n\nif (msg.topic == \"ns=1;s=Isolated_Input3\"){\n    count += 1;\n    context.set('count',count);\n    msg.count = count;\n    \n    msg.payload = {\n        \"count\" : count,\n        \"Input3\" : msg.payload,\n        \"timestamp\" : now.toLocaleString()\n    }    \n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":1360,"wires":[["9403bdc3.67093"]]},{"id":"935bcebf.dfba3","type":"function","z":"691bae06.4a165","name":"Log","func":"var today = new Date();\n\nvar year = today.getFullYear();\nvar month = today.getMonth() + 1\nvar day = today.getDate()\nvar hours = today.getHours()\nvar minutes = today.getMinutes()\nvar seconds = today.getSeconds()\nvar milliseconds = today.getMilliseconds()\n\nvar now = year + '-' + month  + '-' + day + ' ' + hours + ':' + minutes  + ':' + seconds + '.' + milliseconds;\n\nvar count = context.get('count')||0;\n\n\nif (msg.topic == \"ns=1;s=Isolated_Input4\"){\n    count += 1;\n    context.set('count',count);\n    msg.count = count;\n    \n    msg.payload = {\n        \"count\" : count,\n        \"Input4\" : msg.payload,\n        \"timestamp\" : now.toLocaleString()\n    }    \n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":1500,"wires":[["4acfd4d8.4eee6c"]]},{"id":"30fdd53d.6cc06a","type":"function","z":"691bae06.4a165","name":"Log","func":"var today = new Date();\n\nvar year = today.getFullYear();\nvar month = today.getMonth() + 1\nvar day = today.getDate()\nvar hours = today.getHours()\nvar minutes = today.getMinutes()\nvar seconds = today.getSeconds()\nvar milliseconds = today.getMilliseconds()\n\nvar now = year + '-' + month  + '-' + day + ' ' + hours + ':' + minutes  + ':' + seconds + '.' + milliseconds;\n\nvar count = context.get('count')||0;\n\n\nif (msg.topic == \"ns=1;s=Isolated_Input5\"){\n    count += 1;\n    context.set('count',count);\n    msg.count = count;\n    \n    \n    msg.payload = {\n        \"count\" : count,\n        \"Input5\" : msg.payload,\n        \"timestamp\" : now.toLocaleString()\n    }    \n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":1640,"wires":[["3428bdd6.954ea2"]]},{"id":"52d8b3e3.ab1abc","type":"ui_gauge","z":"691bae06.4a165","name":"","group":"9c578015.10e9d","order":1,"width":6,"height":4,"gtype":"gage","title":"온도","label":"℃","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1570,"y":1140,"wires":[]},{"id":"f3505122.f6bda","type":"ui_gauge","z":"691bae06.4a165","name":"","group":"9c578015.10e9d","order":4,"width":6,"height":4,"gtype":"gage","title":"습도","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1570,"y":1280,"wires":[]},{"id":"1efac97f.c5fbb7","type":"ui_gauge","z":"691bae06.4a165","name":"","group":"9c578015.10e9d","order":7,"width":6,"height":4,"gtype":"gage","title":"전류","label":"mA","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1570,"y":1420,"wires":[]},{"id":"3bb229ac.f5dc16","type":"ui_gauge","z":"691bae06.4a165","name":"","group":"9c578015.10e9d","order":10,"width":6,"height":4,"gtype":"gage","title":"진동","label":"mA","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1570,"y":1560,"wires":[]},{"id":"b9f61539.c3d868","type":"ui_gauge","z":"691bae06.4a165","name":"","group":"9c578015.10e9d","order":13,"width":6,"height":4,"gtype":"gage","title":"포토","label":"","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1570,"y":1700,"wires":[]},{"id":"d50f91f.1bb807","type":"function","z":"691bae06.4a165","name":"View","func":"if (msg.topic == \"ns=1;s=Isolated_Input1\"){\n    msg.payload = msg.payload\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":1140,"wires":[["52d8b3e3.ab1abc","71b708a9.784a08"]]},{"id":"169c1745.5ea649","type":"function","z":"691bae06.4a165","name":"View","func":"if (msg.topic == \"ns=1;s=Isolated_Input2\"){\n    msg.payload = msg.payload\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":1260,"wires":[["f3505122.f6bda","2340aa2f.8bccc6"]]},{"id":"5818ea88.4ff984","type":"function","z":"691bae06.4a165","name":"View","func":"if (msg.topic == \"ns=1;s=Isolated_Input3\"){\n    msg.payload = msg.payload\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":1400,"wires":[["1efac97f.c5fbb7","3ea46ce2.21abe4"]]},{"id":"5d674a28.69ba14","type":"function","z":"691bae06.4a165","name":"View","func":"if (msg.topic == \"ns=1;s=Isolated_Input4\"){\n    msg.payload = msg.payload\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":1540,"wires":[["3bb229ac.f5dc16","c07ea7bb.746068"]]},{"id":"78a550fc.3d409","type":"function","z":"691bae06.4a165","name":"View","func":"if (msg.topic == \"ns=1;s=Isolated_Input5\"){\n    msg.payload = msg.payload\n    return msg;\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":1680,"wires":[["b9f61539.c3d868","b500a697.ff2478"]]},{"id":"71b708a9.784a08","type":"ui_chart","z":"691bae06.4a165","name":"","group":"9c578015.10e9d","order":2,"width":6,"height":4,"label":"온도 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1580,"y":1180,"wires":[[]]},{"id":"2340aa2f.8bccc6","type":"ui_chart","z":"691bae06.4a165","name":"","group":"9c578015.10e9d","order":5,"width":6,"height":4,"label":"습도 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1580,"y":1320,"wires":[[]]},{"id":"3ea46ce2.21abe4","type":"ui_chart","z":"691bae06.4a165","name":"","group":"9c578015.10e9d","order":8,"width":6,"height":4,"label":"전류 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1580,"y":1460,"wires":[[]]},{"id":"c07ea7bb.746068","type":"ui_chart","z":"691bae06.4a165","name":"","group":"9c578015.10e9d","order":11,"width":6,"height":4,"label":"진동 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1580,"y":1600,"wires":[[]]},{"id":"b500a697.ff2478","type":"ui_chart","z":"691bae06.4a165","name":"","group":"9c578015.10e9d","order":14,"width":6,"height":4,"label":"포토 chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1580,"y":1740,"wires":[[]]},{"id":"9403bdc3.67093","type":"debug","z":"691bae06.4a165","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1590,"y":1360,"wires":[]},{"id":"4acfd4d8.4eee6c","type":"debug","z":"691bae06.4a165","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1590,"y":1500,"wires":[]},{"id":"3428bdd6.954ea2","type":"debug","z":"691bae06.4a165","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1590,"y":1640,"wires":[]},{"id":"4adc7a69.2b7ba4","type":"debug","z":"691bae06.4a165","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1590,"y":1080,"wires":[]},{"id":"cc0c9566.24cec8","type":"debug","z":"691bae06.4a165","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1590,"y":1220,"wires":[]},{"id":"f09bd07.95e553","type":"link out","z":"691bae06.4a165","name":"Temp","links":["4cda1768.c089e8"],"x":835,"y":200,"wires":[]},{"id":"4cda1768.c089e8","type":"link in","z":"691bae06.4a165","name":"Temp","links":["f09bd07.95e553"],"x":1115,"y":200,"wires":[["d6eb5c68.46314","330ba486.b03e4c","df71426e.ebf18","cee8a4be.b05ed8"]]},{"id":"4f5ec153.9bac6","type":"link out","z":"691bae06.4a165","name":"Humi","links":["1b58e9eb.d09756"],"x":835,"y":240,"wires":[]},{"id":"1cf12348.5dee6d","type":"link out","z":"691bae06.4a165","name":"Current","links":["9c59aff4.949c1"],"x":835,"y":280,"wires":[]},{"id":"c4f4a7.d5b9cb58","type":"link out","z":"691bae06.4a165","name":"Vibration","links":["74637010.1f121"],"x":835,"y":320,"wires":[]},{"id":"9334691e.702d58","type":"link out","z":"691bae06.4a165","name":"Photo","links":["a30fae71.9c8f4"],"x":835,"y":360,"wires":[]},{"id":"1b58e9eb.d09756","type":"link in","z":"691bae06.4a165","name":"Humd","links":["4f5ec153.9bac6"],"x":1115,"y":360,"wires":[["45bd2240.87b58c","98343e1b.03cb7","42ed9ba3.532614","e69fdab8.3607e8"]]},{"id":"9c59aff4.949c1","type":"link in","z":"691bae06.4a165","name":"Current","links":["1cf12348.5dee6d"],"x":1115,"y":520,"wires":[["f4f9534a.3225c","91fe3529.0e29b8","54eecb44.9c3e64","6021b80a.caf4f8"]]},{"id":"74637010.1f121","type":"link in","z":"691bae06.4a165","name":"Vibration","links":["c4f4a7.d5b9cb58"],"x":1115,"y":680,"wires":[["41bbcfe2.be104","db7559a5.a33748","f81ccbd1.82b418","9d7aa243.38fd7"]]},{"id":"a30fae71.9c8f4","type":"link in","z":"691bae06.4a165","name":"Photo","links":["9334691e.702d58"],"x":1115,"y":840,"wires":[["dfc290d5.20eb","60f327b9.e0b288","5dd420e3.41322","54714b53.0c85b4"]]},{"id":"7a70d693.bc3328","type":"link in","z":"691bae06.4a165","name":"OPC_ED-10","links":["4f25e465.288c8c"],"x":1115,"y":1080,"wires":[["212fbca4.39c8b4","d50f91f.1bb807","f10ab01b.3fb","169c1745.5ea649","3de893d9.e16ddc","5818ea88.4ff984","935bcebf.dfba3","5d674a28.69ba14","30fdd53d.6cc06a","78a550fc.3d409"]]},{"id":"f557a270.9f7d8","type":"link in","z":"691bae06.4a165","name":"OPC_ED-10","links":["4f25e465.288c8c"],"x":95,"y":700,"wires":[["a92d0099.663f9"]]},{"id":"c70ad1c0.96cd2","type":"comment","z":"691bae06.4a165","name":"EXCEL","info":"저장 위치\n\n\n/home/pi/Solubiz/ED-10/","x":130,"y":400,"wires":[]},{"id":"780606d0.6f2808","type":"comment","z":"691bae06.4a165","name":"MQTT","info":"","x":130,"y":200,"wires":[]},{"id":"8e6933c4.60d45","type":"opcua-compact-server","z":"691bae06.4a165","port":"4845","endpoint":"","productUri":"","acceptExternalCommands":true,"maxAllowedSessionNumber":"10","maxConnectionsPerEndpoint":"10","maxAllowedSubscriptionNumber":"100","alternateHostname":"","name":"","showStatusActivities":false,"showErrors":false,"allowAnonymous":true,"individualCerts":false,"isAuditing":false,"serverDiscovery":true,"users":[],"xmlsetsOPCUA":[],"publicCertificateFile":"","privateCertificateFile":"","registerServerMethod":"1","discoveryServerEndpointUrl":"opc.tcp:/localhost:4845","capabilitiesForMDNS":"","maxNodesPerRead":1000,"maxNodesPerWrite":1000,"maxNodesPerHistoryReadData":100,"maxNodesPerBrowse":3000,"maxBrowseContinuationPoints":"10","maxHistoryContinuationPoints":"10","delayToInit":"1000","delayToClose":"200","serverShutdownTimeout":"100","addressSpaceScript":"function constructAlarmAddressSpace(server, addressSpace, eventObjects, done) {\n    // server = the created node-opcua server\n    // addressSpace = address space of the node-opcua server\n    // eventObjects = add event variables here to hold them in memory from this script\n  \n    // Doubleernal sandbox objects are:\n    // node = the compact server node,\n    // coreServer = core compact server object for debug and access to NodeOPCUA\n    // this.sandboxNodeContext = node context node-red\n    // this.sandboxFlowContext = flow context node-red\n    // this.sandboxGlobalContext = global context node-red\n    // this.sandboxEnv = env variables\n    // timeout and Doubleerval functions as expected from nodejs\n  \n    const opcua = coreServer.choreCompact.opcua;\n    const LocalizedText = opcua.LocalizedText;\n    const namespace = addressSpace.getOwnNamespace();\n\n    const Variant = opcua.Variant;\n    const DataType = opcua.DataType;\n    const DataValue = opcua.DataValue;\n  \n    var flexServerDoubleernals = this;\n  \n    this.sandboxFlowContext.set(\"isoInput1\", 0);\n  //   this.setDoubleerval(() => {\n  //     flexServerDoubleernals.sandboxFlowContext.set(\n  //       \"isoInput1\",\n  //       Math.random() + 50.0\n  //     );\n  //   }, 500);\n    this.sandboxFlowContext.set(\"isoInput2\", 0);\n    this.sandboxFlowContext.set(\"isoInput3\", 0);\n    this.sandboxFlowContext.set(\"isoInput4\", 0);\n    this.sandboxFlowContext.set(\"isoInput5\", 0);\n    this.sandboxFlowContext.set(\"isoInput6\", 0);\n    this.sandboxFlowContext.set(\"isoInput7\", 0);\n    this.sandboxFlowContext.set(\"isoInput8\", 0);\n  \n    this.sandboxFlowContext.set(\"isoOutput1\", 0);\n  //   this.setDoubleerval(() => {\n  //     flexServerDoubleernals.sandboxFlowContext.set(\n  //       \"isoOutput1\",\n  //       Math.random() + 10.0\n  //     );\n  //   }, 500);\n  \n    this.sandboxFlowContext.set(\"isoOutput2\", 0);\n    this.sandboxFlowContext.set(\"isoOutput3\", 0);\n    this.sandboxFlowContext.set(\"isoOutput4\", 0);\n    this.sandboxFlowContext.set(\"isoOutput5\", 0);\n    this.sandboxFlowContext.set(\"isoOutput6\", 0);\n    this.sandboxFlowContext.set(\"isoOutput7\", 0);\n    this.sandboxFlowContext.set(\"isoOutput8\", 0);\n  \n    coreServer.debugLog(\"init dynamic address space\");\n    const rootFolder = addressSpace.findNode(\"RootFolder\");\n  \n    node.warn(\"construct new address space for OPC UA\");\n  \n    const myDevice = namespace.addFolder(rootFolder.objects, {\n      \"browseName\": \"Test_hostname\"\n    });\n    const gpioFolder = namespace.addFolder(myDevice, { \"browseName\": \"Test_tags\" });\n    const isoInputs = namespace.addFolder(gpioFolder, {\n      \"browseName\": \"Inputs\"\n    });\n    const isoOutputs = namespace.addFolder(gpioFolder, {\n      \"browseName\": \"Outputs\"\n    });\n  \n    const gpioDI1 = namespace.addVariable({\n      \"organizedBy\": isoInputs,\n      \"browseName\": \"I1\",\n      \"nodeId\": \"ns=1;s=Isolated_Input1\",\n      \"dataType\": \"Double\",\n      \"value\": {\n        \"get\": function() {\n          return new Variant({\n            \"dataType\": DataType.Double,\n            \"value\": flexServerDoubleernals.sandboxFlowContext.get(\"isoInput1\")\n          });\n        },\n        \"set\": function(variant) {\n          flexServerDoubleernals.sandboxFlowContext.set(\n            \"isoInput1\",\n            parseFloat(variant.value)\n          );\n          return opcua.StatusCodes.Good;\n        }\n      }\n    });\n  \n    const gpioDI2 = namespace.addVariable({\n      \"organizedBy\": isoInputs,\n      \"browseName\": \"I2\",\n      \"nodeId\": \"ns=1;s=Isolated_Input2\",\n      \"dataType\": \"Double\",\n      \"value\": {\n        \"get\": function() {\n          return new Variant({\n            \"dataType\": DataType.Double,\n            \"value\": flexServerDoubleernals.sandboxFlowContext.get(\"isoInput2\")\n          });\n        },\n        \"set\": function(variant) {\n          flexServerDoubleernals.sandboxFlowContext.set(\n            \"isoInput2\",\n            parseFloat(variant.value)\n          );\n          return opcua.StatusCodes.Good;\n        }\n      }\n    });\n  \n    const gpioDI3 = namespace.addVariable({\n      \"organizedBy\": isoInputs,\n      \"browseName\": \"I3\",\n      \"nodeId\": \"ns=1;s=Isolated_Input3\",\n      \"dataType\": \"Double\",\n      \"value\": {\n        \"get\": function() {\n          return new Variant({\n            \"dataType\": DataType.Double,\n            \"value\": flexServerDoubleernals.sandboxFlowContext.get(\"isoInput3\")\n          });\n        },\n        \"set\": function(variant) {\n          flexServerDoubleernals.sandboxFlowContext.set(\n            \"isoInput3\",\n            parseFloat(variant.value)\n          );\n          return opcua.StatusCodes.Good;\n        }\n      }\n    });\n  \n    const gpioDI4 = namespace.addVariable({\n      \"organizedBy\": isoInputs,\n      \"browseName\": \"I4\",\n      \"nodeId\": \"ns=1;s=Isolated_Input4\",\n      \"dataType\": \"Double\",\n      \"value\": {\n        \"get\": function() {\n          return new Variant({\n            \"dataType\": DataType.Double,\n            \"value\": flexServerDoubleernals.sandboxFlowContext.get(\"isoInput4\")\n          });\n        },\n        \"set\": function(variant) {\n          flexServerDoubleernals.sandboxFlowContext.set(\n            \"isoInput4\",\n            parseFloat(variant.value)\n          );\n          return opcua.StatusCodes.Good;\n        }\n      }\n    });\n  \n    const gpioDI5 = namespace.addVariable({\n      \"organizedBy\": isoInputs,\n      \"browseName\": \"I5\",\n      \"nodeId\": \"ns=1;s=Isolated_Input5\",\n      \"dataType\": \"Double\",\n      \"value\": {\n        \"get\": function() {\n          return new Variant({\n            \"dataType\": DataType.Double,\n            \"value\": flexServerDoubleernals.sandboxFlowContext.get(\"isoInput5\")\n          });\n        },\n        \"set\": function(variant) {\n          flexServerDoubleernals.sandboxFlowContext.set(\n            \"isoInput5\",\n            parseFloat(variant.value)\n          );\n          return opcua.StatusCodes.Good;\n        }\n      }\n    });\n  \n    const gpioDI6 = namespace.addVariable({\n      \"organizedBy\": isoInputs,\n      \"browseName\": \"I6\",\n      \"nodeId\": \"ns=1;s=Isolated_Input6\",\n      \"dataType\": \"Double\",\n      \"value\": {\n        \"get\": function() {\n          return new Variant({\n            \"dataType\": DataType.Double,\n            \"value\": flexServerDoubleernals.sandboxFlowContext.get(\"isoInput6\")\n          });\n        },\n        \"set\": function(variant) {\n          flexServerDoubleernals.sandboxFlowContext.set(\n            \"isoInput6\",\n            parseFloat(variant.value)\n          );\n          return opcua.StatusCodes.Good;\n        }\n      }\n    });\n  \n    const gpioDI7 = namespace.addVariable({\n      \"organizedBy\": isoInputs,\n      \"browseName\": \"I7\",\n      \"nodeId\": \"ns=1;s=Isolated_Input7\",\n      \"dataType\": \"Double\",\n      \"value\": {\n        \"get\": function() {\n          return new Variant({\n            \"dataType\": DataType.Double,\n            \"value\": flexServerDoubleernals.sandboxFlowContext.get(\"isoInput7\")\n          });\n        },\n        \"set\": function(variant) {\n          flexServerDoubleernals.sandboxFlowContext.set(\n            \"isoInput7\",\n            parseFloat(variant.value)\n          );\n          return opcua.StatusCodes.Good;\n        }\n      }\n    });\n  \n    const gpioDI8 = namespace.addVariable({\n      \"organizedBy\": isoInputs,\n      \"browseName\": \"I8\",\n      \"nodeId\": \"ns=1;s=Isolated_Input8\",\n      \"dataType\": \"Double\",\n      \"value\": {\n        \"get\": function() {\n          return new Variant({\n            \"dataType\": DataType.Double,\n            \"value\": flexServerDoubleernals.sandboxFlowContext.get(\"isoInput8\")\n          });\n        },\n        \"set\": function(variant) {\n          flexServerDoubleernals.sandboxFlowContext.set(\n            \"isoInput8\",\n            parseFloat(variant.value)\n          );\n          return opcua.StatusCodes.Good;\n        }\n      }\n    });\n  \n    const gpioDO1 = namespace.addVariable({\n      \"organizedBy\": isoOutputs,\n      \"browseName\": \"O1\",\n      \"nodeId\": \"ns=1;s=Isolated_Output1\",\n      \"dataType\": \"Double\",\n      \"value\": {\n        \"get\": function() {\n          return new Variant({\n            \"dataType\": DataType.Double,\n            \"value\": flexServerDoubleernals.sandboxFlowContext.get(\"isoOutput1\")\n          });\n        },\n        \"set\": function(variant) {\n          flexServerDoubleernals.sandboxFlowContext.set(\n            \"isoOutput1\",\n            parseFloat(variant.value)\n          );\n          return opcua.StatusCodes.Good;\n        }\n      }\n    });\n  \n    const gpioDO2 = namespace.addVariable({\n      \"organizedBy\": isoOutputs,\n      \"browseName\": \"O2\",\n      \"nodeId\": \"ns=1;s=Isolated_Output2\",\n      \"dataType\": \"Double\",\n      \"value\": {\n        \"get\": function() {\n          return new Variant({\n            \"dataType\": DataType.Double,\n            \"value\": flexServerDoubleernals.sandboxFlowContext.get(\"isoOutput2\")\n          });\n        },\n        \"set\": function(variant) {\n          flexServerDoubleernals.sandboxFlowContext.set(\n            \"isoOutput2\",\n            parseFloat(variant.value)\n          );\n          return opcua.StatusCodes.Good;\n        }\n      }\n    });\n  \n    const gpioDO3 = namespace.addVariable({\n      \"organizedBy\": isoOutputs,\n      \"browseName\": \"O3\",\n      \"nodeId\": \"ns=1;s=Isolated_Output3\",\n      \"dataType\": \"Double\",\n      \"value\": {\n        \"get\": function() {\n          return new Variant({\n            \"dataType\": DataType.Double,\n            \"value\": flexServerDoubleernals.sandboxFlowContext.get(\"isoOutput3\")\n          });\n        },\n        \"set\": function(variant) {\n          flexServerDoubleernals.sandboxFlowContext.set(\n            \"isoOutput3\",\n            parseFloat(variant.value)\n          );\n          return opcua.StatusCodes.Good;\n        }\n      }\n    });\n  \n    const gpioDO4 = namespace.addVariable({\n      \"organizedBy\": isoOutputs,\n      \"browseName\": \"O4\",\n      \"nodeId\": \"ns=1;s=Isolated_Output4\",\n      \"dataType\": \"Double\",\n      \"value\": {\n        \"get\": function() {\n          return new Variant({\n            \"dataType\": DataType.Double,\n            \"value\": flexServerDoubleernals.sandboxFlowContext.get(\"isoOutput4\")\n          });\n        },\n        \"set\": function(variant) {\n          flexServerDoubleernals.sandboxFlowContext.set(\n            \"isoOutput4\",\n            parseFloat(variant.value)\n          );\n          return opcua.StatusCodes.Good;\n        }\n      }\n    });\n  \n    const gpioDO5 = namespace.addVariable({\n      \"organizedBy\": isoOutputs,\n      \"browseName\": \"O5\",\n      \"nodeId\": \"ns=1;s=Isolated_Output5\",\n      \"dataType\": \"Double\",\n      \"value\": {\n        \"get\": function() {\n          return new Variant({\n            \"dataType\": DataType.Double,\n            \"value\": flexServerDoubleernals.sandboxFlowContext.get(\"isoOutput5\")\n          });\n        },\n        \"set\": function(variant) {\n          flexServerDoubleernals.sandboxFlowContext.set(\n            \"isoOutput5\",\n            parseFloat(variant.value)\n          );\n          return opcua.StatusCodes.Good;\n        }\n      }\n    });\n  \n    const gpioDO6 = namespace.addVariable({\n      \"organizedBy\": isoOutputs,\n      \"browseName\": \"O6\",\n      \"nodeId\": \"ns=1;s=Isolated_Output6\",\n      \"dataType\": \"Double\",\n      \"value\": {\n        \"get\": function() {\n          return new Variant({\n            \"dataType\": DataType.Double,\n            \"value\": flexServerDoubleernals.sandboxFlowContext.get(\"isoOutput6\")\n          });\n        },\n        \"set\": function(variant) {\n          flexServerDoubleernals.sandboxFlowContext.set(\n            \"isoOutput6\",\n            parseFloat(variant.value)\n          );\n          return opcua.StatusCodes.Good;\n        }\n      }\n    });\n  \n    const gpioDO7 = namespace.addVariable({\n      \"organizedBy\": isoOutputs,\n      \"browseName\": \"O7\",\n      \"nodeId\": \"ns=1;s=Isolated_Output7\",\n      \"dataType\": \"Double\",\n      \"value\": {\n        \"get\": function() {\n          return new Variant({\n            \"dataType\": DataType.Double,\n            \"value\": flexServerDoubleernals.sandboxFlowContext.get(\"isoOutput7\")\n          });\n        },\n        \"set\": function(variant) {\n          flexServerDoubleernals.sandboxFlowContext.set(\n            \"isoOutput7\",\n            parseFloat(variant.value)\n          );\n          return opcua.StatusCodes.Good;\n        }\n      }\n    });\n  \n    const gpioDO8 = namespace.addVariable({\n      \"organizedBy\": isoOutputs,\n      \"browseName\": \"O8\",\n      \"nodeId\": \"ns=1;s=Isolated_Output8\",\n      \"dataType\": \"Double\",\n      \"value\": {\n        \"get\": function() {\n          return new Variant({\n            \"dataType\": DataType.Double,\n            \"value\": flexServerDoubleernals.sandboxFlowContext.get(\"isoOutput8\")\n          });\n        },\n        \"set\": function(variant) {\n          flexServerDoubleernals.sandboxFlowContext.set(\n            \"isoOutput8\",\n            parseFloat(variant.value)\n          );\n          return opcua.StatusCodes.Good;\n        }\n      }\n    });\n  \n    //------------------------------------------------------------------------------\n    // Add a view\n    //------------------------------------------------------------------------------\n    const viewDI = namespace.addView({\n      \"organizedBy\": rootFolder.views,\n      \"browseName\": \"RPIW0-Digital-Ins\"\n    });\n  \n    const viewDO = namespace.addView({\n      \"organizedBy\": rootFolder.views,\n      \"browseName\": \"RPIW0-Digital-Outs\"\n    });\n  \n    viewDI.addReference({\n      \"referenceType\": \"Organizes\",\n      \"nodeId\": gpioDI1.nodeId\n    });\n  \n    viewDI.addReference({\n      \"referenceType\": \"Organizes\",\n      \"nodeId\": gpioDI2.nodeId\n    });\n  \n    viewDI.addReference({\n      \"referenceType\": \"Organizes\",\n      \"nodeId\": gpioDI3.nodeId\n    });\n  \n    viewDI.addReference({\n      \"referenceType\": \"Organizes\",\n      \"nodeId\": gpioDI4.nodeId\n    });\n  \n    viewDI.addReference({\n      \"referenceType\": \"Organizes\",\n      \"nodeId\": gpioDI5.nodeId\n    });\n  \n    viewDI.addReference({\n      \"referenceType\": \"Organizes\",\n      \"nodeId\": gpioDI6.nodeId\n    });\n  \n    viewDI.addReference({\n      \"referenceType\": \"Organizes\",\n      \"nodeId\": gpioDI7.nodeId\n    });\n  \n    viewDI.addReference({\n      \"referenceType\": \"Organizes\",\n      \"nodeId\": gpioDI8.nodeId\n    });\n  \n    viewDO.addReference({\n      \"referenceType\": \"Organizes\",\n      \"nodeId\": gpioDO1.nodeId\n    });\n  \n    viewDO.addReference({\n      \"referenceType\": \"Organizes\",\n      \"nodeId\": gpioDO2.nodeId\n    });\n  \n    viewDO.addReference({\n      \"referenceType\": \"Organizes\",\n      \"nodeId\": gpioDO3.nodeId\n    });\n  \n    viewDO.addReference({\n      \"referenceType\": \"Organizes\",\n      \"nodeId\": gpioDO4.nodeId\n    });\n  \n    viewDO.addReference({\n      \"referenceType\": \"Organizes\",\n      \"nodeId\": gpioDO5.nodeId\n    });\n  \n    viewDO.addReference({\n      \"referenceType\": \"Organizes\",\n      \"nodeId\": gpioDO6.nodeId\n    });\n  \n    viewDO.addReference({\n      \"referenceType\": \"Organizes\",\n      \"nodeId\": gpioDO7.nodeId\n    });\n  \n    viewDO.addReference({\n      \"referenceType\": \"Organizes\",\n      \"nodeId\": gpioDO8.nodeId\n    });\n  \n    coreServer.debugLog(\"create dynamic address space done\");\n    node.warn(\"construction of new address space for OPC UA done\");\n  \n    done();\n  s}\n  ","x":160,"y":100,"wires":[]},{"id":"db1c09f3.1bfb38","type":"debug","z":"691bae06.4a165","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":370,"y":180,"wires":[]},{"id":"d7f2e67a.130b68","type":"OpcUa-Event","z":"691bae06.4a165","root":"ns=1;s=Isolated_Input5","eventtype":"i=2041","name":"","x":340,"y":1420,"wires":[["eef63f0e.05fb3"]]},{"id":"eef63f0e.05fb3","type":"OpcUa-Client","z":"691bae06.4a165","endpoint":"55518079.18ae9","action":"events","deadbandtype":"a","deadbandvalue":1,"time":"10","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":560,"y":1420,"wires":[["e643a8ae.2b3008"]]},{"id":"5fbd76ce.13a888","type":"inject","z":"691bae06.4a165","name":"Test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"10","payload":"","payloadType":"num","x":130,"y":1420,"wires":[["d7f2e67a.130b68"]]},{"id":"e643a8ae.2b3008","type":"debug","z":"691bae06.4a165","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":1420,"wires":[]},{"id":"7deb64e4.b3de8c","type":"OpcUa-Item","z":"691bae06.4a165","item":"ns=1;s=Isolated_Input1","datatype":"Double","value":"get","name":"","x":300,"y":1080,"wires":[["f3966aea.99f708"]]},{"id":"212e0cfc.b4c774","type":"OpcUa-Item","z":"691bae06.4a165","item":"ns=1;s=Isolated_Input2","datatype":"Double","value":"get","name":"","x":300,"y":1140,"wires":[["f3966aea.99f708"]]},{"id":"15590494.232cbb","type":"link in","z":"691bae06.4a165","name":"OPC_Temp","links":["6372e0d2.5dbaa"],"x":95,"y":1080,"wires":[["7deb64e4.b3de8c"]]},{"id":"83db5f6f.d4bf1","type":"link in","z":"691bae06.4a165","name":"OPC_Humi","links":["231bf25b.f4463e"],"x":95,"y":1140,"wires":[["212e0cfc.b4c774"]]},{"id":"72c753c9.17bf4c","type":"link in","z":"691bae06.4a165","name":"OPC_Photo","links":["d7d9a19b.17222"],"x":95,"y":1200,"wires":[["c439c660.05c9e8"]]},{"id":"4a3d1d76.f89564","type":"link in","z":"691bae06.4a165","name":"OPC_Current","links":["eab726e3.292768"],"x":95,"y":1260,"wires":[["dcff7372.71521"]]},{"id":"a1e1af32.961a1","type":"link in","z":"691bae06.4a165","name":"OPC_Vibration","links":["7e445286.d7528c"],"x":95,"y":1320,"wires":[["206de072.36443"]]},{"id":"c439c660.05c9e8","type":"OpcUa-Item","z":"691bae06.4a165","item":"ns=1;s=Isolated_Input3","datatype":"Double","value":"get","name":"","x":300,"y":1200,"wires":[["f3966aea.99f708"]]},{"id":"dcff7372.71521","type":"OpcUa-Item","z":"691bae06.4a165","item":"ns=1;s=Isolated_Input4","datatype":"Double","value":"get","name":"","x":300,"y":1260,"wires":[["f3966aea.99f708"]]},{"id":"206de072.36443","type":"OpcUa-Item","z":"691bae06.4a165","item":"ns=1;s=Isolated_Input5","datatype":"Double","value":"get","name":"","x":300,"y":1320,"wires":[["f3966aea.99f708"]]},{"id":"f3966aea.99f708","type":"OpcUa-Client","z":"691bae06.4a165","endpoint":"55518079.18ae9","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":680,"y":1080,"wires":[["4f25e465.288c8c"]]},{"id":"4f25e465.288c8c","type":"link out","z":"691bae06.4a165","name":"OPC_ED-10","links":["7a70d693.bc3328","f557a270.9f7d8"],"x":855,"y":1080,"wires":[]},{"id":"fc888d8c.c7ad8","type":"comment","z":"691bae06.4a165","name":"OPCUA-Client","info":"","x":160,"y":1040,"wires":[]},{"id":"6d592078.447f6","type":"OpcUa-Event","z":"691bae06.4a165","root":"i=2253","eventtype":"i=2041","name":"","x":340,"y":1540,"wires":[["18599be0.9e61b4"]]},{"id":"18599be0.9e61b4","type":"OpcUa-Client","z":"691bae06.4a165","endpoint":"55518079.18ae9","action":"events","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":560,"y":1540,"wires":[["e3e58137.e4783"]]},{"id":"6058082b.50b9f8","type":"inject","z":"691bae06.4a165","name":"Test","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"10","payload":"","payloadType":"num","x":130,"y":1540,"wires":[["6d592078.447f6"]]},{"id":"e3e58137.e4783","type":"debug","z":"691bae06.4a165","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":740,"y":1540,"wires":[]},{"id":"1dff0e7f.0504a2","type":"OpcUa-Client","z":"691bae06.4a165","endpoint":"55518079.18ae9","action":"events","deadbandvalue":"","time":"10","timeUnit":"s","certificate":"l","localfile":"","localkeyfile":"","name":"Alarms & Events","x":620,"y":1680,"wires":[["b4e2eb2.cd73218","bddae177.220ff"]]},{"id":"b4e2eb2.cd73218","type":"debug","z":"691bae06.4a165","name":"","active":true,"console":"false","complete":"true","x":990,"y":1680,"wires":[]},{"id":"3b8b2a5b.387866","type":"OpcUa-Event","z":"691bae06.4a165","root":"i=2253","eventtype":"i=2041","name":"All events from server","x":360,"y":1680,"wires":[["1dff0e7f.0504a2"]]},{"id":"9cceb958.7a7cf8","type":"inject","z":"691bae06.4a165","name":"Test (500ms)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","payload":"500","payloadType":"num","x":130,"y":1680,"wires":[["3b8b2a5b.387866"]]},{"id":"bddae177.220ff","type":"function","z":"691bae06.4a165","name":"Format","func":"var newmsg={};\nnewmsg.topic=\"\";\nnewmsg.payload=\"\";\n\nif (msg.EventId) {\n    //newmsg.payload=\"EVENTID\";\n\t//newmsg.payload=msg.EventId.toString('utf8');;\n}\nif (msg.EventType) {\n    //newmsg.topic=newmsg.topic+\"EventType\";\n    //newmsg.payload=\"EVENTTYPE\";\n\t//newmsg.payload=newmsg.payload+\"|\"+msg.EventType;\n}\nif (msg.SourceNode) {\n    //newmsg.topic=newmsg.topic+\"SourceNode\";\n\t//newmsg.payload=msg.payload+\"|\"+msg.SourceNode;\n}\nif (msg.SourceName) {\n    // Do not show internal alarm state changes e.q. rising events\n    //if (msg.SourceName==\"Internal\") return; \n\tnewmsg.payload=newmsg.payload+\"|\"+msg.SourceName;\n}\nif (msg.Time) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Time\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Time;\n}\nif (msg.ReceiveTime) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ReceiveTime\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ReceiveTime;\n}\nif (msg.Message) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Message\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Message;\n}\nif (msg.Severity) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Severity\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Severity;\n}\n\n// ConditionType\nif (msg.ConditionClassId) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ConditionClassId\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ConditionClassId;\n}\nif (msg.ConditionClassName) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ConditionClassName\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ConditionClassNameName;\n}\nif (msg.ConditionName) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ConditionName\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ConditionName;\n}\nif (msg.BranchId) {\n    newmsg.topic=newmsg.topic+\"|\"+\"BranchId\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.BranchId;\n}\nif (msg.Retain) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Retain\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Retain;\n}\nif (msg.EnabledState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"EnabledState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.EnabledState;\n}\nif (msg.Quality) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Quality\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Quality;\n}\nif (msg.LastSeverity) {\n    newmsg.topic=newmsg.topic+\"|\"+\"LastSeverity\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.LastSeverity;\n}\nif (msg.Comment) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Comment\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Comment;\n}\nif (msg.ClientUserId) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ClientUserId\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ClientUserId;\n}\n\n// AcknowledgeConditionType\nif (msg.AckedState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"AckedState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.AckedState;\n}\nif (msg.ConfirmedState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ConfirmedState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ConfirmedState;\n}\n\n// AlarmConditionType\nif (msg.ActiveState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ActiveState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ActiveState;\n}\nif (msg.InputNode) {\n    newmsg.topic=newmsg.topic+\"|\"+\"InputNode\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.InputNode;\n}\nif (msg.SupressedState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"SupressedState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.SupressedState;\n}\n\n// Limits\nif (msg.HighHighLimit) {\n    newmsg.topic=newmsg.topic+\"|\"+\"HighHighLimit\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.HighHighLimit;\n}\nif (msg.HighLimit) {\n    newmsg.topic=newmsg.topic+\"|\"+\"HighLimit\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.HighLimit;\n}\nif (msg.LowLimit) {\n    newmsg.topic=newmsg.topic+\"|\"+\"LowLimit\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.LowLimit;\n}\nif (msg.LowLowLimit) {\n    newmsg.topic=newmsg.topic+\"|\"+\"LowLowLimit\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.LowLowLimit;\n}\nif (msg.Value) {\n        newmsg.topic=newmsg.topic+\"|\"+\"Value\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Value;\n}\n\nreturn newmsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":1740,"wires":[["58eca885.de2b48"]]},{"id":"58eca885.de2b48","type":"debug","z":"691bae06.4a165","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":1740,"wires":[]},{"id":"f211917.88e2c7","type":"OpcUa-Event","z":"691bae06.4a165","root":"ns=0;i=2253","eventtype":"i=2041","name":"Events","x":290,"y":1900,"wires":[["158cf852.a0c868"]]},{"id":"158cf852.a0c868","type":"OpcUa-Client","z":"691bae06.4a165","endpoint":"55518079.18ae9","action":"events","deadbandvalue":"","time":10,"timeUnit":"s","certificate":"l","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"A & C","x":450,"y":1900,"wires":[["4f244815.8eef28"]]},{"id":"4f244815.8eef28","type":"debug","z":"691bae06.4a165","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":1900,"wires":[]},{"id":"d5472108.b62c6","type":"inject","z":"691bae06.4a165","name":"Test Events","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":130,"y":1900,"wires":[["f211917.88e2c7"]]},{"id":"10ca41dd.6468ae","type":"link out","z":"691bae06.4a165","name":"ED-10","links":["426bbc02.04a474"],"x":495,"y":300,"wires":[]},{"id":"426bbc02.04a474","type":"link in","z":"691bae06.4a165","name":"ED-10","links":["10ca41dd.6468ae"],"x":95,"y":500,"wires":[["f3e18126.b2c76","45fd4775.524978"]]},{"id":"19c8d040.c7b5b","type":"inject","z":"691bae06.4a165","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":150,"y":940,"wires":[["20e33530.18e70a"]]},{"id":"f6a30bb4.c6b738","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5805281a.aa6318","type":"ui_group","name":"ED-10","tab":"3e9affc7.a95f","order":1,"disp":true,"width":12,"collapse":false},{"id":"a1c53b6.a88fcc8","type":"ui_group","name":"OPC-UA Event Setting","tab":"3e9affc7.a95f","order":3,"disp":true,"width":6,"collapse":false},{"id":"9c578015.10e9d","type":"ui_group","name":"OPC-UA Client","tab":"3e9affc7.a95f","order":2,"disp":true,"width":12,"collapse":false},{"id":"55518079.18ae9","type":"OpcUa-Endpoint","endpoint":"opc.tcp://localhost:4845","secpol":"None","secmode":"None","login":false},{"id":"3e9affc7.a95f","type":"ui_tab","name":"ED-10","icon":"dashboard","disabled":false,"hidden":false}]